<template>
  <div id="app">
    <nav class="navbar">
      <div>
        <a href="/">List TinyUrls</a>
        |
        <a href="/addurl">Add TinyUrl</a>
      </div>
    </nav>

    <div>
      <router-view />
    </div>
  </div>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
}
.navbar {
  background-color: darkgray;
  color: white;
}
</style>
