<template>
  <div class="submit-form">
    <h1>Add New URL</h1>
    <div v-if="!submitted">
      <div>
        <label for="title">URL to encode</label>
        <input
            type="text"
            id="title"
            required
            v-model="url"
            name="title"
        />
        <button @click="saveUrl">Submit</button>
      </div>
    </div>

    <div v-else>
      <div v-if="!error">
        <h4>You submitted successfully!</h4>
        <p>The new TinyURL is {{tinyUrl}}</p>
        <button @click="newURL">Add Another</button>
      </div>
      <div v-else>
        <h4>Oh no, your submission failed!</h4>
        <p>{{error}}</p>
        <button @click="newURL">Add Another</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import DataService from '../services/DataService';

@Component
export default class AddTinyUrl extends Vue {
  private url = 'http://';

  private submitted = false;

  private error: string|null = null;

  private tinyUrl = '';

  async saveUrl() {
    try {
      const response = await DataService.create({ url: this.url });
      this.submitted = true;
      this.tinyUrl = response.data.tinyUrl;
      if (this.tinyUrl) {
        this.error = null;
      } else {
        this.error = 'Failed to add URL';
      }
    } catch (e) {
      this.submitted = true;
      this.error = `Failed to add due to error: ${e}`;
    }
  }

  newURL() {
    this.submitted = false;
    this.url = 'http://';
  }
}
</script>

<style scoped>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
