<template>
  <div>
    <div >
      <h1>TinyURL List</h1>
      <table class="list">
        <thead>
          <tr><th>Original URL</th><th>Tiny URL</th><th>Link</th></tr>
        </thead>
        <tbody>
        <tr
            v-for="(url, index) in urls"
            :key="index"
        >
          <td>{{ url.original }}</td>
          <td>{{ url.tinyUrl }}</td>
          <td>
            <a :href="url.tinyUrl">Link</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import DataService from '../services/DataService';

@Component
export default class ListTinyUrl extends Vue {
  private urls: any[] = [];

  async retrieveUrls() {
    const response = await DataService.getAll();
    this.urls = response.data;
  }

  async mounted() {
    await this.retrieveUrls();
  }
}
</script>

<style scoped>
.list {
  text-align: left;
  width: 100%;
}
</style>
